/*
 * LESS-MIXINS v0.1 - EXAMPLE FILE
 * http://socialfactory.se/
 *
 * Copyright 2012, Peter Elmered
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 *
 * 
 */
 
/* IMPORT LESS-MIXINS */
@import "less/less-mixins.less";

/* Override default values in this file */
@baseBorderRadius: 20px;

.code-box {

	.size(400px, 400px);

   .gradient (#EDEDED, #CCCCCC, #DDDDDD);

   .pre;
   
   .transition(color);
}
.code-box:hover {
   color: #F00;
}
.box {
	
	.size(200px, 200px);
   
   .border-radius();
	
   background: #DDD;

   .transition(all, 500);
   
   background-size: 1px 200px;
   
   p {
      .text-shadow;
      text-align: center;
      .transition(color);
   }
   p:hover {
      color: #F00;
   }
}
.box:hover {
   background: #F00;
   //.gradient (#EDEDED, #CCCCCC, #DDDDDD);
   background-position:100px;  
}


